.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}


/*  Styles for this example */

.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;

    height:90vh;
    top:-93vh;
}


.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    height:90vh;
    top:0;
}

.parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
}

.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.gap {
    background:transparent center no-repeat;
    background-size:cover;
    height:70vh;
}
.gap-100 {
    height:90vh;
}
.skrollr .gap {
    background:transparent !important;
}

#page-intro h1{
    text-align: center;
    font-size:50px;
    padding-top: 24vh;
    color: #fff;
    -webkit-text-shadow: 1px 1px 3px #000;
    -moz-text-shadow: 1px 1px 3px #000;
    -ms-text-shadow: 1px 1px 3px #000;
    -o-text-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 3px #000; 
}


#page-intro .btn{
    color: #fff !important;
    display: block;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.dummy-content{
    padding: 150px 0;
    background-color: #fff;
    color: #221f51;
    font-size: 24px;
    min-height: 800px;
    text-align: center;
}

.dummy-content h2{
    font-weight: normal;
    color: #777;
}

.features-list{
    padding: 50px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 50vh;
    text-align: center;
}

 h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
    text-align: center;
}

.features-list div{
    display: inline-block;
    width: 15%;
    margin: 15px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}


.features-list div h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #425F67;
    font-weight: normal;
}

#red_subtitle{
    width: 60px;
    height:6px;
    padding:0;
    margin:0 auto;
    border:none;
    background-color: #c13a3a;box-shadow:none; 
}
#white_subtitle{
    width: 60px;
    height:6px;
    padding:0;
    margin:0 auto;
    border:none;
    background-color: #ffffff;box-shadow:none; 
}

#contact_info{
    position: absolute;
    width:562px;
    height:600px;
    background: url(../img/phone.png) no-repeat center bottom;
    margin:0 auto;
    text-align: center;
    font-size:25px;
    top:50%;left:50%;margin-top:-400px;margin-left:-280px;
    color: #fff;
    -webkit-text-shadow: 1px 1px 3px #000;
    -moz-text-shadow: 1px 1px 3px #000;
    -ms-text-shadow: 1px 1px 3px #000;
    -o-text-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 3px #000; 
}
#contact_info h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
}
#contact_detail{
    width:400px;
    margin: 0 auto;
    margin-top:285px;
    font-family: "Times New Roman", Georgia, Serif;
    font-style:italic;
}
.body-text{
    padding: 10px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 60vh;
    text-align: center;
}

.body-text p, .body-text #workinfo{
    position: relative;
    width: 65%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    color: #25373C;
    border-bottom: #c13a3a 1px solid;
}
.body-text .edu{

    padding: 10px;
}
.subtitle{
    width: 300px;
    margin: 30px auto;
    line-height: 60px;
    font-family: 'Chronicle Bold', Georgia, Times, "Times New Roman", serif;
    font-size:1.6rem;
    border-top: #111111 1px solid;
    border-bottom: #111111 1px solid;
    margin-top: 80px;
}
/*rounded shaped numbers*/
.list{text-align: left;background-color: #ededed;padding: 5px;border-radius: 5px;padding: 10px;}
.rounded-list{
    padding: 0 0.4em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: 1em;   
}
.body-text .skill_info{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    padding-bottom: 60px;
    color: #25373C;
}
.body-text .skill_info .title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.background{
   background: url(../img/bg2.jpg) no-repeat center center; 
   background-size:cover;

}
@media (max-width: 900px){

    .features-list div{
        width: 90%;
        margin-bottom: 30px;
    }
    .body-text p, .body-text #workinfo, .body-text .skill_info{
        width: 100%;
    }

}

@media (max-width: 800px) {
    #page-intro h1 {
        font-size: 42px;
        padding-top: 15vh;
    }

}
@media (max-height: 850px) {
    #contact_info{
        height:400px;
        margin-top:-200px;

    }
    #contact_detail{
        margin-top:100px;
    }
}
